@import "tailwindcss";

@layer components {
    .scroll-top {
    @apply cursor-pointer w-12 h-12 fixed bottom-8 right-8 z-50 rounded-lg shadow-md bg-[#92A2CD] hover:scale-110 
    }
    .navbar {
    @apply border border-[#1f3f96a2] text-[#1f3f96a2] rounded-full 
    px-5 p-[0.35rem] shadow-md bg-white w-full inline-block lg:inline md:text-center text-start my-1 lg:my-0;
    }
    .navbar-auth {
        @apply border border-[#1f3f96a2] text-[#1f3f96a2] rounded-full 
        px-3 p-[0.35rem] shadow-md bg-white w-full inline-block lg:inline md:text-center text-start my-1 lg:my-0;
        }
    .footer-link {
    @apply text-base leading-6 text-gray-500 hover:text-gray-900;
    }
    .admin-icons {
    @apply text-inherit text-xl mr-4;
    }
    .review-button {
    @apply flex text-sm mr-2 pt-1 w-full justify-center items-center gap-x-1 hover:bg-gray-500 hover:text-white border border-[#1f3f96a2] rounded-lg text-center cursor-pointer;
    }
    .navbar-links {
    @apply w-full lg:w-auto;
    }
    .admin-sidebar {
    @apply w-full lg:w-60 p-2 px-5 inline-block text-gray-500 hover:text-gray-500 border border-gray-300 shadow rounded-full 
        my-[0.35rem] hover:bg-gray-300 bg-gray-50;
    }
    .sidebar {
    @apply inline-block p-2 px-4 cursor-pointer border  border-gray-300 shadow rounded-full w-full hover:bg-gray-100 text-gray-500 bg-gray-50;
    }
    .admin-active {
    @apply bg-[#92A2CD] text-white;
    }
    .admin-button {
    @apply min-w-28 border block text-sm hover:text-white cursor-pointer hover:bg-gray-700 rounded-md text-center bg-white items-center pt-2;
    }
    .content-input {
    @apply block w-full rounded-md bg-white px-3.5 py-1 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-gray-600;
    }
    .header {
    @apply absolute sm:top-3/4 top-2/3 left-1/2 -translate-x-1/2 -translate-y-1/2 sm:text-2xl text-center
    }
}
@layer base {
    :root {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    }
    .text-shadow {
        text-shadow: 2px 2px #1f3f96a0;
    }
}
@layer utilities {
    .transition {
    transition: transform 2s;
    }
}